.Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 355.41px;
    height: 181px;
    background-color: #9B9B9B;
    border-radius: 15px;
    opacity: 0px;

}
.Amount{
    color: #89E148;
}
.capsuleButton {
    display: inline-block;
    padding: 10px 20px;
    background: linear-gradient(90deg, #B5DC52 0%, #89E148 100%);
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 30px; /* Adjust this value to change the curvature of the button */
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .capsuleButton:hover {
    background-color: #45a049;
  }
  /* .POP{
    display: flex;
    width: 5000px;
    height: 5000px;
    color: white;
    background: black;
    z-index: 100;
  } */